:root {
  --c-900: 13 22 35;
  --c-800: 22 35 52;
  --c-700: 37 55 77;
  --c-600: 61 85 110;
  --c-500: 96 129 161;
  --c-400: 145 171 197;
  --c-300: 191 209 226;
  --c-200: 224 233 242;
  --c-100: 244 247 250;
}
