:root {
  --c-900: 12 9 24;
  --c-800: 24 18 44;
  --c-700: 39 31 67;
  --c-600: 61 48 96;
  --c-500: 93 70 138;
  --c-400: 130 106 176;
  --c-300: 173 152 209;
  --c-200: 215 203 234;
  --c-100: 240 235 248;
}

