:root {
  --c-900: 10 30 34;
  --c-800: 27 54 64;
  --c-700: 45 78 92;
  --c-600: 63 104 120;
  --c-500: 82 138 150;
  --c-400: 123 168 178;
  --c-300: 164 198 206;
  --c-200: 204 224 229;
  --c-100: 232 240 243;
}
