:root {
  --c-900: 26 10 46;
  --c-800: 45 27 78;
  --c-700: 70 45 110;
  --c-600: 94 63 142;
  --c-500: 123 82 174;
  --c-400: 155 123 197;
  --c-300: 187 164 220;
  --c-200: 220 204 240;
  --c-100: 240 232 250;
}
