:root {
  --c-900: 18 24 21;
  --c-800: 31 43 39;
  --c-700: 49 68 61;
  --c-600: 71 96 85;
  --c-500: 95 123 108;
  --c-400: 133 157 141;
  --c-300: 180 198 184;
  --c-200: 216 228 216;
  --c-100: 241 246 239;
}
